extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    h2 IDP Sign in request
    form(action="http://localhost:3000/users/sso_sign_in",method="post")
      textarea(name="SAMLResponse",placeholder="SAML Response here",rows=20,cols=50)
      br
      input(type="submit",value="Sign in")

  hr
  div
    h2 IDP Sign out request
    form(action="http://localhost:3000/sso_idp_sign_out",method="post")
      input(type="text",name="spEntityId",placeholder="Service Provider Entity ID")
      br
      br
      textarea(name="SAMLRequest",placeholder="SAML Response here",rows=20,cols=50)
      br
      input(type="submit",value="Sign out")
